<% include header %>
    <form action="/search" method="post">
        <input name="query">
        <button type="submit">Rechercher</button>
    </form>
    <% if (locals.facts) { %>
        <div class="facts">
            <% for (var i = 0; i < facts.length; i++) {%>
            <div class="fact">
                <a href="<%= facts[i].url %>" target="_blank">
                    <img src="/assets/img/author/<%= facts[i].image_name %>.jpg" alt="<%= facts[i].author %>"/>
                    <h3><%= facts[i].author %></h3>
                    <p><%= facts[i].statement %></p>
                    <img src="/assets/img/meter/<%= facts[i].meter %>.png" alt="<%= facts[i].meter %>">
                </a>
            </div>
            <% } %>
        </div>
    <% } %>
<% include footer %>
