<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<title>{% block title %}{% endblock %} - The Highway To The Whitehouse</title>
		<link rel="stylesheet" href="{{ constant('DS') }}{{ constant('BASE_DIR') }}{{ constant('DS') }}assets{{ constant('DS') }}css{{ constant('DS') }}style.css">
	</head>
	<body>
		<!--{{ include("header.html.twig") }}-->
		{{ include("menu.twig") }}
		<main id="{% block idMain %}{% endblock %}">
			{% block main %}{% endblock %}
		</main>
		<!--{{ include("footer.html.twig") }}-->
		{% block javascripts %}{% endblock %}
	</body>
</html>