<nav class="main-nav">
	<a href="{{ route('home') }}">
		<img src="{{ constant('DS') }}{{ constant('BASE_DIR') }}{{ constant('DS') }}assets{{ constant('DS') }}img{{ constant('DS') }}logo.png" alt="Logo">
	</a>
	<ul>
		<li>
			<a href="{{ route('home') }}">Home</a>
		</li>
		<li>
			<a href="{{ route('listFact') }}">All Facts</a>
		</li>
		<li>
			<a href="{{ route('about') }}">About</a>
		</li>
	</ul>
</nav>